/node_modules/
/setup_CN_2052_11.8.2.11542_Professional_VBA_gch_zy/
/360chromePortable/
/360chrome/
/wpsProfessional/
/**/360chrome2/
/sougou/
/electronApp/filesOperation/test/
/electronApp/static/
/electronApp/pdf/test/
/dist/
/electronApp/pdf/templatesTemp/
.DS_Store
.idea/
/cachepuppeteer/
/electronApp/report/exports/
/vueApp/.vite/**/*
/vueApp/components.d.ts
